<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(rel="stylesheet", href="/static/css/about.css")
        link(rel="stylesheet", href="/static/css/footer.css")
        link(rel="stylesheet", href="/static/css/nav-left.css")
        title Document
    body.animated.fadeInRight
        include nav-left.pug
        .about
            h1.about__h1 Об Авторе
            p.about__p Владимир родился в деревне Морино Псковской области. Три года служил на Северном флоте. Работал на Балтийском кораблестроительном заводе в г. Санкт-Петербург. После окончания Новгородского политехнического института на заводе «Старорусприбор» работал инженером-электроником. В настоящее время трудится в стоматологической поликлинике. 35 лет живёт в Старой Руссе. Увлекается: зимой - лыжами, летом - сбором грибов и ягод. Примерный муж, любимый папа и дедушка. Легкий в общении и как-то по-особенному, бережно, даже можно сказать по-рыцарски, относящийся к женщине человек. Этакий Дон-Кихот 21 века. Это видно и в стихах Владимира, о женщине, о любви. Стихи пишет в основном для себя и для своих друзей, по случаю каких-либо событий. На протяжении более чем 10 лет Владимир является членом ЛИ ТО «Живой мост».
            img.about__img(src="../static/img/logo.jpg", alt="photo")
        include footer.pug
    
    script(src="../static/js/activelnk.js")