body {
    margin: 0;
    height: 100vh;
    display: grid;
}

.about {
    width: 65%;
    margin: auto;
    margin-top: -2rem;
    font-family: 'Roboto', sans-serif;
}

.about__img {
    align-self: start;
    height: 19rem;
    float: right;
    display: block;
    margin-top: 2rem;
}

.about__h1 {
    margin-right: inherit;
    margin-top: 4rem;
    color: #a7a7a7;
    border-bottom: 2px solid #fc1a00;
}

.about__p {
    width: 67%;
    display: inline-block;
    text-align: justify;
    font-size: larger;
    line-height: 1.5;
}
.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}