.footer {
    background-color: #d6d5d5;
    color: #fc1a00;
    border-top: 2px solid #fc1a00;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer__wraper {
    margin-left: 19vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}

.footer__wraper>a,
.footer__wraper>p {
    vertical-align: top;
    margin-left: 0.5rem;
    text-decoration: none;
    color: #fc1a00;
    display: inline-block;
    margin-top: 0;
    
}

.footer__social {
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
}

.footer__wraper>a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.footer__add {
    border: 2px solid #811105;
    background-color: #fc1a00;
    border-radius: 50%;
    font-size: 2.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    margin-right: 3rem;
    /* left: 90vw;
    bottom: 12vh; */
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
    transition: all 500ms ease;
}
@media (min-width: 508px) and (max-width: 950px) {
    .footer__add {
        margin-left: 42vw;
    }
    .auth-form {
        margin-left: 19vw;
    }
}
@media (max-width: 507px) {
    .footer__add {
        margin-left: 42vw;
    }
    .auth-form {
        margin-left: 19vw;
    }
}
.footer__limk {
    text-decoration: none; 
    color: black;
}

@keyframes pulse {
    from {
        box-shadow: 0 0 0px 1px #d11500;
    }
    50% {
        box-shadow: 0 0 16px 1px #d11500;
    }
    to {
        box-shadow: 0 0 50px 1px #d11500;
    }
}


.footer__add:hover {
    transform: rotate(270deg);
}
.auth-form {
    display: none;
    border: 0.15rem solid #fc1a00;
    border-radius: 1rem;
    /* z-index: 5;
    z-index: 5;
    left: 57rem;
    bottom: -85rem; */
    padding-left: 1rem;
    padding-right: 1rem;
}