
/* для выдвижного меню-- */
    /* nav {
        border: 1px solid blue;
        width: 15%;
        position: absolute;
        left: -176px;
        transition: all 1s ease;
        background-color: rgb(102, 236, 120);
    }

    nav:hover {
        left: 0px;
    } */
/* --для выдвижного меню */

/* левый nav --*/

.header {
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
    height: 12rem;
    flex-direction: column;
    padding-left: 13vw;
}

.header__logo {
    margin-top: -1.5rem;
    height: 5rem;
    width: 5rem;
    border: 3px solid #fc1a00;
    border-radius: 50%;
    background-image: url(../img/logo.jpg); 
    background-size: cover;
}
.header__nav-top {
    margin-top: -2.5rem;
    display: flex;
    align-items: flex-end;
}
.select {
    border-color: white;
    color: black;
    border-bottom: 2px solid #fc1a00;
    cursor: pointer;
}
.main {
    width: 75%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: -2rem;
    flex-wrap: wrap;
}
.main__card {
    text-decoration: none;
    color: black;
    border: 1px solid #eeeeee;
    border-radius: 4%;
    height: 16.5rem;
    width: 13rem;
    margin-right: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    transition: box-shadow 700ms ease;
}
.main__card-img {
    height: 77%;
    background-size: cover;
    background-position: center;
    background-color: #d5d5d5;
}
.main__card-name {
    text-align: center;
}
/* текст в fade */
.text-fade {
    background: linear-gradient(rgb(255, 255, 255, 0.1), rgb(255, 255, 255));
    height: 16.5rem;
    width: 13rem;
    display: grid;
    position: absolute;
    border-radius: 4%
}
.text-fade:hover {
    background: linear-gradient(rgb(255, 255, 255, 0.1), rgb(252, 26, 0));
}
.main__card:hover {
    background-color: #fc1a00;
    color: #eee;
    box-shadow: 0px 13px 56px -18px black;
}