.nav-left {
    transform: rotate(-90deg);
    position: fixed;
    left: -11rem;
    top: 10rem;
    list-style: none;
}

.nav-left__item>li {
    display: inline;
    margin-right: 2rem;
}

.nav-left__item>li>a {
    text-decoration: none;
    color: #a7a7a7;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.nav-left__item>li>a:hover {
    color: #fc1a00;
}